<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>577134506064-8a0fke0tm35j2qsfobof4tr3c9qodkth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577134506064-8a0fke0tm35j2qsfobof4tr3c9qodkth</string>
	<key>API_KEY</key>
	<string>AIzaSyAeFSwX6vDgD8kykCcukAkesQfJ0-SyuHU</string>
	<key>GCM_SENDER_ID</key>
	<string>577134506064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ubicomptm7.freshListSwift</string>
	<key>PROJECT_ID</key>
	<string>team7app-9243a</string>
	<key>STORAGE_BUCKET</key>
	<string>team7app-9243a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577134506064:ios:2679db1b29550ff1</string>
	<key>DATABASE_URL</key>
	<string>https://team7app-9243a.firebaseio.com</string>
</dict>
</plist>